# Web Framework
fastapi
uvicorn[standard]
python-multipart

# Database
motor
pymongo

# Authentication
python-jose[cryptography]
passlib[bcrypt]
python-dotenv

# LLM Providers
openai
requests

# PDF Processing
PyPDF2
azure-ai-formrecognizer
azure-core

# Token counting
tiktoken

# Excel Processing
openpyxl
pandas

# Utilitie
pydantic
pydantic-settings